:root {
  --cor-primaria: #3f4659;
  --cor-secundaria: #1e1f24;
  --cor-hover: #121318;
  --cor-texto: #cacbd0;
}


.search__bar{
  padding: 20px 10px 25px 0px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #cacbd0;
  font-size: 15px;
}

.esquerda{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  width: 100%;
  padding: 20px;
  background-color: #1e1f24;
  border-radius: 24px;
}

.direita {
  display: flex;
  align-items: center;

  margin: 0px 0px 0px 10px;
  height: 46px;
  width: 168px;
  background-color: #1e1f24;
  border-radius: 24px;
  font-size: 12px;
} .p {
  background-color: #3f4659;
  margin: 0px 10px 0px 10px;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} span {
  margin: 2px 0px 0px 0px;
  font-size: 14px;
} p{
  margin: 2px 0px 0px 0px;
  font-size: 11px;
}
