<nav>
  <div class="superior">
    <ul>
      <li class="home">
        <a href="#"><span>Home</span></a>
      </li>
      <li>
        <a href="#"><span>Explorar</span></a>
      </li>
      <li>
        <a href="#"><span>favoritos</span></a>
      </li>
      <li>
        <a href="#"><span>Ver mais tarde</span></a>
      </li>
    </ul>
  </div>
  <hr style="color: #3f4659" />
  <div class="inferior">
    <ul>
      <li>
        <a href="#"><span>Configurações</span></a>
      </li>
    </ul>
    <div class="card__continueAssistindo">
      <a href="#"><p>Continue assitindo:</p></a>
      <app-card-assistidos> </app-card-assistidos>
      <app-card-assistidos> </app-card-assistidos>
    </div>
  </div>
</nav>
