<nav>
  <div class="logoAss">
    <img src="../../assets/images/pngwing.com.png" alt="logo" srcset="logo">
  </div>
  <div class="esquerda">
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Series</a></li>
      <li><a href="#">Filmes</a></li>
    </ul>
  </div>
  <div class="direita">
    <ul>
      <li><a href="https://www.flaticon.com/br/icones-gratis/pesquisa" title="pesquisa ícones"></a></li>
      <li><i>salvos</i></li>
      <li><i>conta</i></li>
    </ul>
  </div>
</nav>
